<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="departement">
      <h2 data-cy="departementDetailsHeading"><span jhiTranslate="managementAppApp.departement.detail.title">Departement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ departement.id }}</span>
        </dd>
        <dt><span jhiTranslate="managementAppApp.departement.name_departement">Name Departement</span></dt>
        <dd>
          <span>{{ departement.name_departement }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/departement', departement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
